$primary: #43B883;
$primary-darker: #2f835d;

$background: #F1F3F7;
$editor-background: #fff;
$actions-background: #E7EAEF;
$card-background: #FFF;

$titles: #1B2332;
$texts: #303c4e;
$actions: #6D7786;
$buttons: #FFF;
